@model doan3.Models.CtDangKyThi

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CtDangKyThi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Thoigiandk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Thoigiandk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Thoigianthi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Thoigianthi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hoso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hoso.HosoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kythi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kythi.KythiId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lichthi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lichthi.LichthiId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CtDktId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
