@model IEnumerable<doan3.Models.CtDangKyThi>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Thoigiandk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Thoigianthi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hoso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kythi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lichthi)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.thanhtoan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Thoigiandk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Thoigianthi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hoso.HosoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kythi.KythiId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lichthi.LichthiId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.thanhtoan)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CtDktId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CtDktId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CtDktId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
