@model IEnumerable<doan3.Models.DiemDanh>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ngayhoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trangthai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hoso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lichhoc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ngayhoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trangthai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hoso.HosoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lichhoc.LichhocId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DiemdanhId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DiemdanhId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DiemdanhId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
