@model doan3.Models.LichTapLai

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LichTapLai</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tgbatdau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tgbatdau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tgketthuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tgketthuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diadiem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diadiem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Noidung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Noidung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ghichu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ghichu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Giaovien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Giaovien.GiaovienId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hoso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hoso.HosoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Xe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Xe.XeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LichId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
