@model doan3.Models.KetQuaHocTap

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>KetQuaHocTap</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nhanxet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nhanxet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sobuoiodahoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sobuoiodahoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sobuoitoithieu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sobuoitoithieu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KmHoanthanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KmHoanthanh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GioBandem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GioBandem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HtLythuyet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HtLythuyet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HtMophong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HtMophong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HtSahinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HtSahinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HtDuongtruong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HtDuongtruong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DauTn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DauTn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DuDkThisat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DuDkThisat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Thoigiancapnhat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Thoigiancapnhat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hoso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hoso.HosoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lop.LopId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.KetquaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
