@model IEnumerable<doan3.Models.PhanLoaiBaiThi>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tenloaibai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mota)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tenloaibai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mota)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LoaibaiId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LoaibaiId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LoaibaiId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
