@model doan3.Models.LichThi

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LichThi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Thoigianthi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Thoigianthi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diadiemthi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diadiemthi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ghichu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ghichu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LichthiId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
