@model doan3.Models.GiayPhepLaiXe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GiayPhepLaiXe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaycap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaycap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngayhethan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngayhethan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ghichu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ghichu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hang.HangId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hoso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hoso.HosoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GplxId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
