@model IEnumerable<doan3.Models.GiayPhepLaiXe>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ngaycap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngayhethan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ghichu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hoso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaycap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngayhethan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ghichu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hang.HangId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hoso.HosoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GplxId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GplxId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GplxId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
