@model IEnumerable<doan3.Models.HocVien>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tenhocvien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Socccd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gioitinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngaysinh)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tenhocvien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Socccd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gioitinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaysinh)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HocvienId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HocvienId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HocvienId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
