@model doan3.Models.TaiLieu

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TaiLieu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tentl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tentl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Thoigiancapnhat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Thoigiancapnhat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hang.HangId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TailieuId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
