@model doan3.Models.ThanhToan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ThanhToan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenThanhToan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenThanhToan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sotien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sotien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trangthai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trangthai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ghichu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ghichu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phuongthuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phuongthuc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ThanhtoanId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
