@model IEnumerable<doan3.Models.KetQuaThi>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ketqua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ghichu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Baithi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ketqua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ghichu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Baithi.BaithiId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KetquaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.KetquaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.KetquaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
