@model doan3.Models.PhanCongGiamSat

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PhanCongGiamSat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vaitro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vaitro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ghichu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ghichu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Baithi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Baithi.BaithiId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nguoigs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nguoigs.NguoigsId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PhancongGsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
