@model doan3.Models.NguoiGiamSat

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NguoiGiamSat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hoten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hoten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Donvi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Donvi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sdt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sdt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhomNguoigs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhomNguoigs)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NguoigsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
